body {
  background: url("http://pre12.deviantart.net/60e9/th/pre/i/2015/112/8/6/harry_potter_s_marauders_map_by_ilovechez-d5zxnm7.jpg");
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
